<main class="login-container">
    <div class="login-wrapper">
        <div class="login-header">
                <span>Login</span>
        </div>
        <div class="login-text">
            <span class="text-muted">Por favor, entre com sua conta</span>
        </div>
        <form action="" class="login-form">
            <label for="email">Email</label>
            <input type="email" class="form-control">
            
            <label for="password">Password</label>
            <input type="password" class="form-control">
            <div class="login-text">
                <span class="text-muted">Não possui uma conta? <a href="">clique aqui</a></span>
            </div>
            <div class="buttons">
                <button type="button" class="btn btn-primary">Entrar</button>
            </div>
        </form>
    </div>
</main>
