<div class="card">
    <div class="user-info">
        <div class="user-name">
            <span class="text-muted">
                {{user.name}}
            </span>
        </div>
        <div class="user-email">
            {{user.email}}
        </div>
    </div>
    <div class="btns">
        <button type="button" class="btn btn-success btn-sm d-flex justify-content-center align-items-center"><mat-icon>done</mat-icon></button>
        <button type="button" class="btn btn-danger btn-sm d-flex justify-content-center align-items-center"><mat-icon>close</mat-icon></button>
    </div>
</div>
