table {
    width: 1200px;
}

.edit {
    margin-right: 10px;
}

.edit > i {
    color: #d9cd26;
}

.delete > i {
    color: #e35e6b;
}
.home-container{
    display: flex;
}
.user-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 500px;
}